@import '../variables.scss';

.section {
  background: $background-main;
  display: grid;
  grid-template-areas:
    'left right'
    'left right';
  grid-template-columns: 4fr 6fr;
  height: 100vh;
  width: 100%;
}

.section__left {
  @include v-align;
  background: #fff;
  grid-area: left;
  padding: 0 4em;
  h2 {
    border-bottom: solid 2px $black;
    padding-bottom: 0.25em;
    width: fit-content;
  }
  p {
    line-height: 1.75em;
  }
}

.section__right {
  @include c-align;
  @include v-align;
  background: $background-secondary;
  grid-area: right;
  padding: 0 4em;
}

.section__right:nth-child(n + 2):nth-child(odd) {
  background: red;
}

@media (max-width: 920px) {
  .section {
    grid-template-areas:
      'left left'
      'right right';
    height: max-content;
  }
  .section__left {
    height: fit-content;
    padding: 2em;
  }
  .section__right {
    height: fit-content;
    padding: 2em;
  }
}
